$dm-green: #696;
$unibo-red: #BB2E29;

$primary: #385e72;
$secondary: #b7cfdc;
$info: #6aabd2;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px // Custom width for larger screens
);

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$navbar-bg: $light;
$navbar-text: $primary;
$navbar-bg: $dm-green;
$navbar-text: #eee;
$navbar-text-hover: #fff;
$navbar-dropdown-text: #333;
$h-color: #385e72;
$card-bg-header: $secondary;
$card-color-header: $primary;
$card-border: $primary;
$enable-responsive-font-sizes: true;

body {
  font-family: "Rubik", sans-serif;
} 
button {
  background-color: transparent;
  border: 0;
  display: inline-block;
}
a {
  color: #222;
  text-decoration: underline;
}
.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
h1 {
  color: $h-color;
  @extend .display-6;
  @extend .my-md-4;
  @extend .centered;
  &:first-letter { 
    text-transform: capitalize; 
  }
}
h2 {
  color: $h-color;
  font-size: 130%;
  color: #30373b;
  font-weight: 700;
}
h3 {
  color: $h-color;
  font-size: 120%;
  color: #30373b;
  font-weight: 700;
}
.button {
  @extend .btn;
  @extend .btn-primary;
}
table {
  @extend .table;
}
.info {
  @extend .alert; 
  @extend .alert-info;
}
.centered_action {
  width: 100%;
  text-align: center;
  margin: 10px;
}

@import "dm_card";
@import "dm_form";
@import "dm_navbar";
@import "dm_list";
