.dm-card {
  @extend .card;
  @extend .my-3;
}
.dm-card-title, .dm-card-header {
  @extend .mb-0;
  @extend .card-header;
  background-color: $card-bg-header;
  color: $card-color-header;
  font-size: 120%;
  font-weight: bold;
  border-bottom: 2px solid $card-border;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dm-card-body {
  @extend .card-body;
}
.dm-card-footer {
  @extend .card-footer;
}
