nav.navbar {
  border-bottom: 1px solid #333;
  background-color: $navbar-bg;
}

.navbar-nav > li {
  @extend .nav-item;
  color: $navbar-text;
}
.navbar-nav > li > a {
  @extend .nav-link;
  color: $navbar-text;
  &:hover {
    color: $navbar-text-hover;
  }
}
.navbar-nav .nav-link.show {
  color: $navbar-text-hover;
}

ul.dropdown-menu > li > a {
  @extend .dropdown-item;
  color: $navbar-dropdown-text;
}

.navbar-brand, .navbar-text {
  color: $navbar-text;
  &:hover {
    color: $navbar-text-hover;
  }
}
