$dm-green: #696;
$unibo-red: #BB2E29;

$primary: #385e72;
$secondary: #b7cfdc;
$info: #6aabd2;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px // Custom width for larger screens
);

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$navbar-bg: $dm-green;
$navbar-text: #eee;
$navbar-bg: $light;
$navbar-bg: #F7F7F7;
$navbar-text: #333333;
$navbar-text-hover: #000;
$navbar-dropdown-text: #333333;

$h-color: #385e72;
$h-color: $primary;

$card-bg-header: $light;
$card-color-header: #333333;
$card-border: $primary;

$enable-responsive-font-sizes: true;

