table.tablesorter > thead > tr > th.header::after {
  font-family: "FontAwesome";
  content: " \f0dc";
}
table.tablesorter > thead > tr > th.headerSortUp::after {
  font-family: "FontAwesome";
  content: " \f0d8";
} 
table.tablesorter > thead > tr > th.headerSortDown::after {
  font-family: "FontAwesome";
  content: " \f0d7";
} 

