<h1>Organizations</h1>

<% if policy(:organization).new? %>  
  <%= link_to 'New', dm_unibo_common.new_organization_path, class: 'btn btn-primary my-3' %>  
<% end %>

<div class="list-group">
  <% @organizations.each do |o| %>  
    <%= link_to o, dm_unibo_common.organization_path(o), class: "list-group list-group-item list-group-item-action p-2" %>
  <% end %>
</div>

