<div id="footer" role="navigation" style="border-top: 2px solid #ddd" class="mt-5">
  <div class="container mt-5 text-secondary" style="text-align: center">
    <div class="">
      <div>
        &mdash; <strong><a href="http://www.unibo.it">Università di Bologna</a></strong> &mdash;
      </div>
    </div>

    <div class="mt-2">
      <% if @contacts_path %>  
        <%= link_to helpers.dm_icon("envelope", text: "Contatti", size: :xl), @contacts_path, class: "mx-2" %> 
      <% elsif @contact_mail %>
        <%= mail_to @contact_mail, helpers.dm_icon("envelope", text: "Contatti", size: :xl), class: "mx-2" %> 
      <% end %>

      <% if @documentation_path %>
        <%= link_to helpers.dm_icon("book", text: "Istruzioni", size: :xl), @documentation_path, class: "mx-2" %>
      <% end %>

      <%= link_to helpers.dm_icon("eye", text: "Privacy", size: :xl), 
                          "http://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali", class: "mx-2" %>
    </div>
  </div>
</div>
