<div class="mt-3 container alert alert-warning text-center">
  <% if @current_user != @true_user %>
    <div>
      You (<%= @true_user.upn %>) are impersonating <strong><%= @current_user.upn %></strong>
    </div>
    <div>
      <%= link_to helpers.dm_icon("reply", text: "back to admin"), @stop_impersonating_path %>
    </div>
  <% end %>

  <% if @can_impersonate %>
    <%= link_to helpers.dm_icon("user", text: "impersona"), @who_impersonate_path %>
  <% end %>
</div>
