@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  font-size: 14px;
} 
body {
  padding-top: 6rem;
}

.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
h1 {
  @extend .centered;
  &:first-letter { 
    text-transform: capitalize; 
  }
}

/* NAVBAR */
.dm-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .fixed-top;
  border-bottom: 2px solid rgb(187,46,41);

  // background-color: rgb(187,46,41);
  // background-color: $dm-green;
  // background-color: #009688;
  background-color: rgb(146, 186, 1);

  .navbar-nav {
    li {
      @extend .nav-item;
      a {
        @extend .nav-link;
      }
    }
    div.dropdown-menu {
      a {
        @extend .dropdown-item;
      }
    }
  }
}
.navbar-brand {
  //font-size: 14px;
  //line-height: 14px;
  small {
    display: block;
    font-size: 12px;
  }
}
.dropdown-menu i {
  @extend .fa-fw;
}
#footer {
  //@extend .navbar;
  //@extend .navbar-default;
  margin-top: 20px;
  padding: 20px 0;
}

.dm-card {
  @extend .card;
  @extend .mb-3;
  @extend .mt-3;
}
.dm-card-title {
  @extend .mb-0;
  @extend .card-header;
  font-weight: bold;
  border-bottom: 2px solid rgb(187,46,41);
}
.dm-card-body {
  @extend .card-body;
}

/* FORMS */
.dm-form {
  @extend .dm-card;
}
.dm-form-title {
  @extend .dm-card-title;
}
.dm-form-body {
  @extend .card-body;
}
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
.simple_form input[type="submit"] {
  @extend .offset-sm-3;
}
.control-label {
  font-weight: bold;
  text-align: right;
}
//input[type="file"] {
//  border: 0;
//  width: auto;
//}
//input.boolean {
//  width: auto;
//}
input.integer {
  width: 8em;
  text-align: right;
}

.button {
  @extend .btn;
  @extend .btn-primary;
}
table {
  @extend .table;
}

.info {
  @extend .alert; 
  @extend .alert-info;
}

.strong-info {
  @extend .alert; 
  @extend .alert-danger;
}


.centered_action {
  width: 100%;
  text-align: center;
  margin: 10px;
}

input.date_picker {
  width: 10em;
}
input.datetime_picker {
  width: 15em;
}
select.hour {
  width: 5em;
}

/* BUGS */
/* bug in production */
// table {
//   font-size: 13px;
// }
.radio {
  display: block;
  label {
    display: inline;
    input {
      display: inline;
    }
  }
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  width: 30px;
  margin-left: 0px;
  height: auto;
}
.radio label, .checkbox label {
  margin-left: 20px;
}
.form-control-inline {
  @extend .form-control;
  display: inline;
}
input[type="file"] {
  border: 0;
  box-shadow: 0px 0px 0px 0px;
  height: auto;
}
.missing-field {
  // color: $brand-danger;
}

// ul with links expanded
ul > li { list-style-type: none; }
ul.all_clickable {
  @extend .list-group;
  @extend .list-group-item-action;
  a {
    @extend .list-group-item;
    @extend .list-group-item-action;
    span { @extend .float-right; }
  }
}
ul.bordered {
  @extend .list-group;
  li { @extend .list-group-item; }
}
span.actions {
  @extend .float-right;
}

