@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  font-size: 14px;
} 
body {
}

a {
  color: rgb(0, 120, 160);
}
.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
h1 {

  font-size: 180%;
  @extend .mb-3;
  @extend .mt-3;
  @extend .centered;
  &:first-letter { 
    text-transform: capitalize; 
  }
}
h2 {
  font-size: 140%;
}

#footer {
  //@extend .navbar;
  //@extend .navbar-default;
  margin-top: 20px;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.7) !important;
  a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

// DM-CARD
.dm-card {
  @extend .card;
  @extend .mb-3;
  @extend .mt-3;
}
.dm-card-title, .dm-card-header {
  @extend .mb-0;
  @extend .card-header;
  font-weight: bold;
  border-bottom: 2px solid rgb(187,46,41);
}
.dm-card-body {
  @extend .card-body;
}
.dm-card-footer {
  @extend .card-footer;
}

.button {
  @extend .btn;
  @extend .btn-primary;
}
table {
  @extend .table;
}
.info {
  @extend .alert; 
  @extend .alert-info;
}
.strong-info {
  @extend .alert; 
  @extend .alert-danger;
}
.centered_action {
  width: 100%;
  text-align: center;
  margin: 10px;
}
input.date_picker {
  width: 10em;
}
input.datetime_picker {
  width: 15em;
}
select.hour {
  width: 5em;
}

// ul with links expanded
ul > li { list-style-type: none; }
ul.all_clickable {
  @extend .list-group;
  @extend .list-group-item-action;
  a {
    @extend .list-group-item;
    @extend .list-group-item-action;
    span { @extend .float-right; }
  }
}
ul.bordered {
  @extend .list-group;
  li { @extend .list-group-item; }
}
span.actions {
  @extend .float-right;
}

@import "dm_form";
@import "dm_navbar";
