/* FORMS */
.dm-form {
  @extend .dm-card;
}
.dm-form-title {
  @extend .dm-card-title;
}
.dm-form-body {
  @extend .card-body;
}
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
.simple_form input[type="submit"] {
  @extend .offset-sm-3;
}
.has-error {
  input.form-control {
     @extend .is-invalid;
   }
}
.form-error-block {
  @extend .text-danger;
}
.control-label {
  font-weight: bold;
  text-align: right;
}
//input[type="file"] {
//  border: 0;
//  width: auto;
//}
//input.boolean {
//  width: auto;
//}
input.integer {
  width: 8em;
  text-align: right;
}

.radio {
  display: block;
  label {
    display: inline;
    input {
      display: inline;
    }
  }
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  width: 30px;
  margin-left: 0px;
  height: auto;
}
.radio label, .checkbox label {
  margin-left: 20px;
}
.form-control-inline {
  @extend .form-control;
  display: inline;
}
input[type="file"] {
  border: 0;
  box-shadow: 0px 0px 0px 0px;
  height: auto;
}
.missing-field {
  // color: $brand-danger;
}
