/* NAVBAR */
.dm-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light; // necessary for .navbar-dark .navbar-toggler-icon
  @extend .mb-3;

  border-bottom: 2px solid rgb(187,46,41);

  background-color: $dm-green;

  .navbar-nav {
    li {
      @extend .nav-item;
      a {
        @extend .nav-link;
        // color: rgba(0, 0, 0, 0.7) !important;
        color: rgba(255, 255, 255, 0.9) !important;
      }
    }
    ul.dropdown-menu {
      a {
        @extend .nav-link;
        color: rgba(0, 0, 0, 0.9) !important;
      }
    }
  }
}
.navbar-brand {
  //font-size: 14px;
  //line-height: 14px;
  color: rgba(255, 255, 255, 0.9) !important;
  small {
    display: block;
  }
}
.dropdown-menu i {
  //@extend .fa-fw;
}

@media (max-width: 450px) {
  .navbar-brand {
  }
  .navbar-icon i {
  }
  .navbar-image {
    display: none;
  }
}

